---
title: theoodie
bodyClass: bg-white
---

<extends src="src/layouts/main.html">
  <block name="template">
    <div class="livelinks-starter bg-gray-100 min-h-screen">
      <div class="oodie mx-auto">
        <div
          class="bg-white"
          style="height: 480px; width: 912px; color: #3d4246"
        >
          <div class="flex justify-center items-center w-full h-full">
            <div class="w-1/2 h-full">
              <img
                class="h-full w-full"
                src="https://cdn.shopify.com/s/files/1/0023/7427/1029/products/Unicorn_79699_600x600.jpg?v=1604408824"
              />
            </div>
            <div class="w-1/2 h-full flex items-center justify-center">
              <div class="mx-24 space-y-16">
                <h2 class="text-5xl m-0">The Unicorn Oodie Is Best</h2>
                <div class="star-review space-x-8 text-4xl">
                  <span class="stars">
                    <span class="stars-full" style="width: 88%"></span>
                  </span>
                  <span>4.4</span>
                  <span>(338)</span>
                </div>
                <p class="text-5xl m-0">$109</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </block>
</extends>
